.image-container img {
    max-width: 80%; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción */
    border-radius: 10px;
    margin-bottom: 2em; /* Si quieres bordes redondeados */
}
